<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Cube</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div class="container relative">
      <div class="cube">
        <div class="face front "></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face right"></div>
        <div class="face left"></div>
        <div class="face bottom"></div>
    </div>
    <div class="container1 absolute top-[-50px]">
        <div class="cube1">
          <div class="face1 front1 ">Front</div>
          <div class="face1 back1">Back</div>
          <div class="face1 top1">Top</div>
          <div class="face1 right1">Right</div>
          <div class="face1 left1">Left</div>
          <div class="face1 bottom1">Bottom</div>
      </div>
      </div>
  </body>
</html>