
/* .temperature-controller {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 20px; 
  position: relative;
  margin: auto;
  } */
  
  /* input[type="range"] {
    width: 200px;
    margin-bottom: 20px;
    transform: rotate(-90deg);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -10px;
  } */
  
  /* .wrap-thermometer{
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    height: 300px;
  } */
  /* .thermometer {
    position: relative;
    width: 10px;
    height: 100%;
    background-color: #ccc;
  } */
/*   
  .thermometer-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    transition: height 0.2s ease;
  } */
  /* .thermometer span{
    line-height: 12px;
    position: absolute;
    left: 18px;
  } */
  
  /* .thermometer-bulb {
    position: absolute;
    bottom: -5px;
    left: 48%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ff0000;
  }
   */
  /* .temperature-display {
    font-size: 14px;
    font-weight: bold;
    width: 25px;
  } */